$background: #e5e5e5;
$background-button: #0284c7;
$title-color: #737373;

.timer-container {
  display: flex;
  flex-direction: row;
  justify-content: justify-around;
  background-color: $background;
  border-radius: 10px;
  padding: 2rem 5rem 3rem 5rem;
}

.timer-field {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  align-items: center;
  line-height: 1.25;
  text-transform: uppercase;
  width: 7rem;
}

.timer-field-time {
  font-size: 4rem;
  font-weight: 700;
}

.timer-field-title {
  font-size: 0.9rem;
  font-weight: 100;
  color: $title-color;
}

.restart-button,
.restart-button-rotate {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  background-color: $background-button;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 50%;
  outline: none;
  transform: translate(50%, 50%);
  cursor: pointer;
}

.restart-button-rotate {
  transition: transform 600ms ease-out;
  transform: translate(50%, 50%) rotate(-720deg);
}

.container-button-position-wrapper {
  position: relative;
}
