$title-color: #737373;
$value-color: #262626;
$card-background-color: #e5e5e5;
$layout-breakpoint-small: 520px;
$layout-breakpoint-medium: 900px;

.statistics-container {
  display: flex;
  gap: 2rem;
  @media (max-width: $layout-breakpoint-medium) {
    gap: 1rem;
  }
}

.statistics-card {
  width: 15rem;
  height: 10rem;
  border-radius: 10px;
  background-color: $card-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: $layout-breakpoint-medium) {
    width: 10rem;
    height: 8rem;
  }
  @media (max-width: $layout-breakpoint-small) {
    width: 6.5rem;
    height: 8rem;
  }
}

.statistics-value {
  font-size: 3rem;
  color: $value-color;
  @media (max-width: $layout-breakpoint-medium) {
    font-size: 2rem;
  }
  @media (max-width: $layout-breakpoint-small) {
    font-size: 1.2rem;
  }
}

.statistics-title {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: $title-color;
  font-weight: 100;
  @media (max-width: $layout-breakpoint-small) {
    font-size: 0.7rem;
  }
}

.average-statistic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 1rem 0;
  @media (max-width: $layout-breakpoint-medium) {
    width: 50%;
  }
}

.average-statistic-text-value {
  font-weight: 600;
  color: $value-color;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.average-statistic-text-title {
  font-weight: 100;
  color: $title-color;
  font-size: 0.7rem;
  text-transform: uppercase;
}
