$title-color: #737373;
$value-color: #262626;
$card-background-color: #e5e5e5;

.statistics-container {
  display: flex;
}

.statistics-card {
  width: 15rem;
  height: 10rem;
  border-radius: 10px;
  background-color: $card-background-color;
  margin: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statistics-value {
  font-size: 3rem;
  color: $value-color;
}

.statistics-title {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: $title-color;
  font-weight: 100;
}

.icon {
  width: 30%;
  aspect-ratio: 1/1;
}

.average-statistic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.average-statistic-text-value {
  font-weight: 600;
  color: $value-color;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.average-statistic-text-title {
  font-weight: 100;
  color: $title-color;
  font-size: 0.7rem;
  text-transform: uppercase;
}
