@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$title: #525252;
$font-family: 'Inter', sans-serif;
$titles-background: #e5e5e5;
$button-background: #0284c7;
$button-background-second: #075985;
$clear-stats-background: #991b1b;
$clear-stats-button: #737373;
.open-dialog-button {
  width: 2.75rem;
  height: 2.75rem;
  background-color: $button-background;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  border-bottom: 4px solid $button-background-second;
  border-right: 3px solid $button-background-second;
}
.close-dialog-button {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.clear-stats-container {
  background-color: $clear-stats-background;
  border-radius: 100%;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 1rem;
  outline: none;
  border: none;
}
.clear-stats-button {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: $font-family;
  color: $clear-stats-button;
}

.dialog-container {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 5rem 0rem 3rem 0rem;
  border-radius: 15px;
  position: relative;
}

.titles-container {
  display: grid;
  grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: $titles-background;
  padding: 0.5rem 1rem 0.5rem 1rem;
  & > * {
    font-family: $font-family;
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    font-size: 0.9rem;
    font-weight: 200;
    text-transform: uppercase;
    justify-content: flex-end;
    color: $title;
  }
}

.score-field-container {
  display: grid;
  grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0 1rem 0 1rem;
  & > * {
    font-family: $font-family;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
  }
}

.score-title {
  font-weight: 100;
}

.average-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
